@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,200&family=Roboto:ital,wght@0,300;0,400;1,100;1,500&display=swap');
header{
    background-color: rgb(63, 63, 63);
}
header li{
    text-decoration: none;
    display: inline-flex;
    color: aliceblue;
    padding: 10px;
}
h2{
    background-color: rgb(47, 255, 0);
}
h5{
    background-color: orange;
}
h1{
    background-color: aqua;
}
p{
    background-color: rgb(255, 255, 0);
}
section{
    display: flex;
}
img{
    background-color: red;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin:0 auto;
}
footer{
    text-align: center;
    border-style: groove;
    border-radius: 10px;
    border-color: orange;
}
section{
    background-color: olive;
}
body{
    font-family:  'Roboto', sans-serif;
    background-color: lime;
}
.form-div {
    display: flex;
    
}
form{
    display:inline-flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding: 20px;
    width:900px ;
   margin: 10px auto;
   background-color: rgb(12, 221, 12);

}
input{
    border-radius: 10px;
}
textarea{
    border-radius: 10px;
    margin-bottom:10px;
}
.sub{
    border-radius: 10px;
    background-color: blue;
    color: white;
}
label{
    text-align: center;
}
@media only screen and(max-width:720px) {
    
}